*/__pycache__
*.py[cod]
*.pyo
*.pyd
*.egg-info
*.env
*.venv
*.DS_Store
*.vscode
*.idea
*.log
*.sqlite3
*.db
*.csv
*.json
*.xml
__pycache__
*/.pytest_cache
*.coverage
*.cover
*.hypothesis/

.planning/debug/
